---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroBanner from '../components/HeroBanner/HeroBanner.astro';
import About from '../components/About/About.astro';
import MarqueeSection from '../components/MarqueeSection/MarqueeSection.astro';
import Projects from '../components/Projects/Projects.astro';
import Education from '../components/Education/Education.astro';
import Contact from '../components/Contact/Contact.astro';
---

<BaseLayout>
    <main>
        <HeroBanner />
        <About />
        <MarqueeSection />
        <Projects />
        <Education />
        <Contact />
    </main>
</BaseLayout>
